body {
  background-color: rgba(12,12,12,0.9);
}

h1 {
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Inconsolata', monospace;
  color: white;
  text-align: center;
  padding-bottom: 1px;
  /* width: 90%; */
  /* border-bottom: 3px solid rgba(255,0,127,0.5); */
}

hr {
  width: 90%;
  border: 3px solid rgba(127,127,127,1);
  margin: 0% 7% 2% 7%;
}

.row {
  position: relative;
  width: 90%;
  display: flex;
  margin: 2px;
  margin-left: 5%;
}

img {
  /* float: left; */
  background-color:white;
  width: 29%;
  height: 160px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;
  margin: 2%;
  /* border: 2px solid #000;*/
  border-radius: 10px;
  /* -webkit-box-shadow: 6px 2px 24px 4px rgba(204,204,204,1);
  -moz-box-shadow: 6px 2px 24px 4px rgba(204,204,204,1); */
  box-shadow: 6px 2px 24px 4px rgba(102,102,102,0.8);
  padding: 10px;
  transition: 0.1s ease;
  /* margin: 1.5%; */
}

img.fire:hover {
  box-shadow: 6px 2px 24px 4px rgba(243,144,12,0.9);
  transform: scale(1.05);
  transition: 0.1s ease;
}

img.grass:hover {
  box-shadow: 6px 2px 24px 4px rgba(144,243,12,0.9);
  transform: scale(1.05);
  transition: 0.1s ease;
}

img.water:hover {
  box-shadow: 6px 2px 24px 4px rgba(12,144,243,0.9);
  transform: scale(1.05);
  transition: 0.1s ease;
}

#title {
  font-family: 'Lato', sans-serif;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: rgba(12,144,243,0.9); }
  33% { color: rgba(144,243,12,0.9); }
  66% { color: rgba(243,144,12,0.9); }
  100% { color: rgba(12,144,243,0.9); }
}
