body {
  background-color: rgba(12,12,12,0.9);
}

h1 {
  font-family: 'Inconsolata', monospace;
  color: white;
  text-align: center;
  padding-bottom: 1px;
}

hr {
  width: 80.5%;
  border: 3px solid rgba(127,127,127,1);
  margin: 2% 7% 2% 9.5%;
}

.row {
  position: relative;
  width: 90%;
  display: flex;
  margin: 2px;
  margin-left: 5%;
}

a {
  width: 29%;
  height: 160px;
  margin: 1% 5% 5% 5%;
  border-radius: 10px;
}

img {
  background-color:white;
  width: 100%;
  height: 160px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 6px 2px 24px 4px rgba(102,102,102,0.8);
  transition: 0.1s ease;
  padding:10px 0px;
}

img.fire:hover {
  box-shadow: 6px 2px 24px 4px rgba(243,144,12,0.9);
  transform: scale(1.05);
  transition: 0.1s ease;
}

img.grass:hover {
  box-shadow: 6px 2px 24px 4px rgba(144,243,12,0.9);
  transform: scale(1.05);
  transition: 0.1s ease;
}

img.water:hover {
  box-shadow: 6px 2px 24px 4px rgba(12,144,243,0.9);
  transform: scale(1.05);
  transition: 0.1s ease;
}

#title {
  font-family: 'Lato', sans-serif;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% { color: rgba(12,144,243,0.9); }
  33% { color: rgba(144,243,12,0.9); }
  66% { color: rgba(243,144,12,0.9); }
  100% { color: rgba(12,144,243,0.9); }
}
